

/* ===== Primary Styles ========================================================
   Authors: Felix Epp, Thomas Grah
   ========================================================================== */

div#outputs td, div#outputs th {
	word-wrap: break-word;
}

.ajax-loading {
	height: 32px;
	background: transparent url(../img/ajax-loader.gif) no-repeat;
}
.tfixed{
	table-layout:fixed;
	word-wrap:break-word;	
}
.txtaleft{
	text-align: left;
}
.txtaright{
	text-align: right;
}
.txtacenter{
	text-align: center;
}







