

/* ===== Primary Styles ========================================================
   Author: Felix Epp
   ========================================================================== */

div#outputs td, div#outputs th {
	word-wrap: break-word;
}

.ajax-loading {
	height: 32px;
	background: transparent url(../img/ajax-loader.gif) no-repeat;
}











